Coding Challenge

We love mathematics. Honestly, we do. Today's task is going to be based on Semiprime numbers (https://en.wikipedia.org/wiki/Semiprime).
A Semiprime number is one that is a product of two prime numbers (https://en.wikipedia.org/wiki/Prime_number).
Today's challenge is about writing a program that can determine whether a set number is semiprime or not.

INPUT
int number

OUTPUT
boolean isSemiprime

CONSTRAINTS
1 < number <= 10^8

EXAMPLE
Input
91
Output
true


----------


